@using Travela.Models.Entities;
@model PackageRequest;

@{
    ViewData["HeaderName"] = "Package List";
    ViewData["Title"] = "Package Master";
    ViewData["MenuName"] = "Packages";
}

<div class="row">
    <div class="col-12">
        <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-md-12">
                    <a id="addPackageBtn" class="btn btn-outline-primary" style="float: right; margin-bottom: 15px"> Add Package</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="tbldata" class="table dataTable" aria-describedby="order-listing_info">
                        <thead>
                            <tr>
                                <th>Sr no.</th>
                                <th>Package Name</th>
                                <th>Package Overview</th>
                                <th>Image </th>
                                <th>Available Dates</th>
                                <th>Package Amount</th>
                                <th>No. Of Days</th>
                                <th>No. Of Nights</th>
                                <th>Package Category</th>
                                <th>Itinerary</th>
                                <th>Gallery</th>
                                <th>Package Inclusions</th>
                                <th>Package Exclusions</th>
                                <th>Source</th>
                                <th>Destination</th>
                                <th>Accomodations</th>
                                <th>Package Terms</th>
                                <th>Package Cancellation Policy</th>
                                <th>Package Refund Policy</th>
                                <th>Package Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Package.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.0.6/datatables.min.js"></script>
}