@using Travela.Models.Entities;
@model PackageRequest;

@{
    ViewData["HeaderName"] = "Package List";
    ViewData["Title"] = "Package Master";
    ViewData["MenuName"] = "Packages";
}

@* <div class="row">
    <div class="col-12">
        <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-md-12">
                    <a id="addPackageBtn" class="btn btn-outline-primary" style="float: right; margin-bottom: 15px"> Add Package</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                                
                </div>
            </div>
        </div>
    </div>
</div> *@

<style>
    .packagecard{
        background-color: #f2edf3;
        border-radius: 20px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <a id="addpackageBtn" data-bs-toggle="modal" class="btn btn-outline-primary btn-round" style="float:right">Add Package</a>
    </div>
</div>
<br></br>

<section class="basic-elements">
    <div class="row">
        <div class="col-md-12">
            <div class="card-outline-primary">
                <div class="card-block card-dashboard">
                    <div id="cardsContainer" class="row">
                        <!-- Dynamic Cards will be rendered here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/Package.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.0.6/datatables.min.js"></script>
}