@using Travela.Models.Entities;
@model HotelRequest;
@{
    ViewData["HeaderName"] = "Hotel List";
    ViewData["Title"] = "Hotel Master";
    ViewData["MenuName"] = "Hotels";
}

<div class="row">
    <div class="col-12">
        <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-md-12">
                    <a id="addHotelBtn" class="btn btn-outline-primary" style="float : right;"> Add Hotel</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="tbldata" class="table dataTable" aria-describedby="order-listing_info">
                        <thead>
                            <tr>
                                <th>Sr no.</th>
                                <th>Hotel Image</th>
                                <th>Hotel Name</th>
                                <th>Hotel Phone</th>
                                <th>Hotel City</th>
                                <th>Is Active</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/Hotel.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.0.6/datatables.min.js"></script>

    <!-- Modal -->
    <div class="modal fade" id="addHotelModal" tabindex="-1" aria-labelledby="addHotelModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addHotelModalLabel">Add Hotel</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="form">
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="HotelId" />

                        <div class="mb-3">
                            <label class="form-label" asp-for="HotelImage">Hotel Image:</label>
                            <input type="file" class="form-control" id="HotelImage" name="HotelImage" required>
                            <span class="text-danger" id="hotelError"></span>

                            <label class="form-label" asp-for="HotelName">Hotel Name:</label>
                            <input type="text" class="form-control" id="HotelName" name="HotelName" required>
                            <span class="text-danger" id="hotelError"></span>

                            <label class="form-label" asp-for="HotelPhone">Hotel Phone No. :</label>
                            <input type="text" class="form-control" id="HotelPhone" name="HotelPhone" required>
                            <span class="text-danger" id="hotelError"></span>

                            <label class="form-label" asp-for="CityId">Hotel City</label>
                            <input type="text" class="form-control" id="HotelCity" name="HotelCity" required>
                            <span class="text-danger" id="hotelError"></span>

                            <div class="col-md-4 mt-1">
                                <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                    <br />
                                    <input type="checkbox" class="custom-control-input" asp-for="IsActive" />
                                    <label class="custom-control-label float-left">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary btn-round" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-primary btn-round" id="btnMdlSave">Save</button>
                </div>
            </div>
        </div>
    </div>
}